
body {
    margin: 0;
    font-family: Arial;
}

a {
    text-decoration: underline;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 50px;
    font-family: Avantgarde, sans-serif;
}

#school {
    height: 60px;
    width: 75px;
}

.inline {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header {
    background: #1f2937;
}

.topline, .content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 24px;
    max-width: 100px;
    color: white;
}

img {
    height: 160px;
    width: 160px;
}

#profile {
    height: auto;
    width: 160px;
}

.title{
    font-size: 36px;
    font-weight: 500;
}

.location {
    font-size: 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 200px;
    
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    max-width: 200px;
    color: #1F2937;
}

.codetitle {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    margin: 32px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}
  
.info {
    max-width: 200px;
    text-align: center;
    margin-bottom: 80px;
}

.text{
    font-size: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    background: #E5E7EB;
}

.quote {
    font-style: italic;
    margin: auto;
    padding-top: 50px;
    max-width: 400px;
}

.signature {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 25px;
    text-align: right-center;
}

.last {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 50px;
    padding: 30px;
    background: #3882F6;
    border: none;
    border-radius: 8px;
    max-width: 500px;

}

.subtext {
    font-size: 10px;
}

.signup {
    background-color: #1F2937;
}

