
body {
    margin: 0;
    color: white;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 32px;

}

.header {
    background: lightslategrey;
}

.topline, .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

button {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    padding: 8px 24px;
    color: white;
}

img {
    height: auto;
    width: 160px;
}

.title{
    font-size: 20px;
    font-weight: 800;
}

.paragraph {
    font-size: 12px;
}

.content {
    display: flex;
    align-items: center;
    gap: 200px;
    
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
